.signup-success-page {
  width: 393px;
  height: 852px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;

  background-color: white;
}

.success-image {
  width: 180px;
}

.signup-success-page h1 {
  color: #6e232f;
}

.signup-success-page p {
  color: #666;
}