.screen {
  width: 393px;
  height: 702px;
  background-color: white;
  position: relative;
  margin: 40px auto;
}

.content {
  height: calc(100% - 60px - 86px);
  padding: 18px;
  overflow-y: auto;
}

.profile {
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.profile h1 {
  margin: 0 0 11px;
  font-size: 32px;
  font-weight: 700;
}

.profile h1 span {
  color: #6e232f;
}

.profile p {
  margin: 0 0 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.profile small {
  font-size: 15px;
  color: #000;
  font-weight: 400;
}

