.store-list-page {
  position: absolute;

  top: 107px;
  left: 0;
  right: 0;
  bottom: 73px;
 

  width: 100%;

  padding: 33px 17px 16px;

  background-color: #ffffff;

  overflow-y: auto;
}


.store-list-title {
  margin: 0 0 34px;

  font-size: 24px;
  font-weight: 700;
  line-height: 16px;

  color: #111111;
}

.store-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}